WCFExamples/Part8/IntranetAuthentication/IntranetWindowsClient/Service References/ServiceReference1/Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Samples" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8089/Samples?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8089/Samples?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISamples_GetSecretCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretCode" />
  </wsdl:message>
  <wsdl:message name="ISamples_GetSecretCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISamples_GetMemberCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberCode" />
  </wsdl:message>
  <wsdl:message name="ISamples_GetMemberCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISamples_GetPublicCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicCode" />
  </wsdl:message>
  <wsdl:message name="ISamples_GetPublicCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISamples">
    <wsdl:operation name="GetSecretCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamples/GetSecretCode" message="tns:ISamples_GetSecretCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamples/GetSecretCodeResponse" message="tns:ISamples_GetSecretCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamples/GetMemberCode" message="tns:ISamples_GetMemberCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamples/GetMemberCodeResponse" message="tns:ISamples_GetMemberCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamples/GetPublicCode" message="tns:ISamples_GetPublicCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamples/GetPublicCodeResponse" message="tns:ISamples_GetPublicCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcp" type="tns:ISamples">
    <wsp:PolicyReference URI="#netTcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSecretCode">
      <soap12:operation soapAction="http://tempuri.org/ISamples/GetSecretCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberCode">
      <soap12:operation soapAction="http://tempuri.org/ISamples/GetMemberCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicCode">
      <soap12:operation soapAction="http://tempuri.org/ISamples/GetPublicCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Samples">
    <wsdl:port name="netTcp" binding="tns:netTcp">
      <soap12:address location="net.tcp://localhost:8099/Samples" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8099/Samples</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ARTPK2\V1</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>