WCFExamples/Part11/SimpleWFService/Service References/ServiceReference1/EssentialWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EssentialWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EssentialWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StockPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="volume" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockPrice" nillable="true" type="tns:StockPrice" />
</xs:schema>